@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

html {
    background: linear-gradient(45deg, rgb(61, 61, 61), rgb(207, 207, 221));
    font-family: 'Raleway', sans-serif;
}

main {
<<<<<<< HEAD
    padding-top:75px;
    font-size: 18px;
=======
    padding-top:100px;
>>>>>>> ba9ade04080753fca8b6e695b03dd59786f3762b
}

.readMore {
    display: none;
}

header {
    text-align: center;
    background: rgba(0, 46, 65, 0.931);
    color: rgb(223, 231, 248);
    border-bottom: 2px solid whitesmoke;
    position: fixed;
    width: 100%;  
    padding: 7px; 
}

.intro {
    text-align: center;
    padding-top: 20px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.myprojects {
    text-align: center;
    padding: 20px 15px;
}

.screenshot1 {
    width: 85%;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 3em;
}

h2 {
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
}

h3 {
    padding: 5px 0;
    font-size: 25px;
}



.outsidelink {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: 5px auto;

}

a {
    color:rgb(15, 26, 128);
}

a:hover {
    color: rgba(0, 8, 255, 0.637)
}


.aboutme {
    text-align: center;
    padding: 15px;
}

.biography {
    text-align: left;
}

.heroimg {
    width: 66.6%;
}


ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.languages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 455px;
    margin-right: auto;
    margin-left: auto;
}

.biography p {
    padding: 5px 0;
}



<<<<<<< HEAD
@media only screen and (min-width: 800px) {
    main {
        margin: 0 auto;
    }

    .myprojects {
        max-width: 900px;
        margin: 0 auto;
    }
=======
@media only screen and (min-width: 720px) {
>>>>>>> ba9ade04080753fca8b6e695b03dd59786f3762b

    .aboutme {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        margin: 0 auto;
        max-width: 971px;
    }

    .heroimg {
        width: 45%;
        margin-right: 15px;
    }

    .footer {
        max-width: 50%;
    }

<<<<<<< HEAD
    .readMoreBtn, .readLessBtn {
=======
    .readMoreBtn, .readLessBtn, .aboutme a {
>>>>>>> ba9ade04080753fca8b6e695b03dd59786f3762b
        display: none;
    }

    .readMore {
<<<<<<< HEAD
        display: contents;
    }

    .aboutme {
        max-width: 1200px;
=======
        display: inline;
>>>>>>> ba9ade04080753fca8b6e695b03dd59786f3762b
    }

}

