@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

html {
    background: linear-gradient(45deg, rgb(61, 61, 61), rgb(207, 207, 221));
    font-family: 'Raleway', sans-serif;
}

main {
    padding-top:75px;
}

.readMore {
    display: none;
}

header {
    text-align: center;
    background: rgba(0, 46, 65, 0.931);
    color: rgb(223, 231, 248);
    border-bottom: 2px solid whitesmoke;
    position: fixed;
    width: 100%;  
    padding: 7px; 
}

.intro {
    text-align: center;
    padding-top: 20px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.myprojects {
    text-align: center;
    padding: 20px 15px;
}

.screenshot1 {
    width: 85%;
}

h2 {
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
}

h3 {
    padding: 5px 0;
    font-size: 25px;
}

.myprojects p {
    padding-top: 20px;
}


.outsidelink {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

a {
    color:rgba(0, 46, 65);
}

a:hover {
    color: rgba(0, 8, 255, 0.637)
}


.aboutme {
    text-align: center;
    padding: 15px;
}

.aboutme p {
    text-align: left;
    margin: 15px 0;
}

.heroimg {
    width: 66.6%;
}

.footer {
    padding: 15px;
    max-width: 720px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    font-size: 20px;
}

.languages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 455px;
    margin-right: auto;
    margin-left: auto;
}



@media only screen and (min-width: 720px) {
    main {
        margin: 0 auto;
    }

    .aboutme {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        margin: 0 auto;
    }

    .heroimg {
        width: 45%;
        margin-right: 15px;
    }

    .footer {
        max-width: 50%;
    }

    .readMoreBtn, .readLessBtn, .aboutme a {
        display: none;
    }

    .readMore {
        display: contents;
    }

    .myprojects {
        max-width: 800px;
        margin: 0 auto;
    }

    .aboutme {
        max-width: 900px;

    }

}

